#coluna01_sangue,
#coluna02_sangue,
#coluna03_sangue,
#coluna04_sangue {
    width: 20%;
    float: left;
    padding-right: 10px;
}

#coluna01_sangue ul,
#coluna02_sangue ul,
#coluna03_sangue ul,
#coluna04_sangue ul{
    margin-left: 10px;
    list-style-type: none;
}
#listaExamesPaciente{
    margin-top: 10px;
    width: 100%;
    height: 100px;
    overflow-y: auto;
}
#coluna01_sangue li.zebrar,
#coluna02_sangue li.zebrar,
#coluna03_sangue li.zebrar,
#coluna04_sangue li.zebrar{
    background: #EEEEEE;
}