#coluna01_sangue,
#coluna02_sangue,
#coluna03_sangue,
#coluna04_sangue {
    width: 20%;
    float: left;
    padding-right: 10px;
}

#coluna01_sangue ul,
#coluna02_sangue ul,
#coluna03_sangue ul,
#coluna04_sangue ul,
#coluna01_urina ul,
#coluna02_urina ul,
#coluna03_urina ul,
#coluna04_urina ul,
#coluna01_paciente ul,
#coluna02_paciente ul{
    margin-left: 10px;
    list-style-type: none;
}
#listaExamesPaciente{
    margin-top: 10px;
    width: 100%;
    height: 100px;
    overflow-y: auto;
}
.template-paciente #listaExamesPaciente{
    margin-top: 0px;
    height: 150px;
    margin-left: 15px;
    margin-bottom:5px;
    width: 95%;
}
#coluna01_sangue li.zebrar,
#coluna02_sangue li.zebrar,
#coluna03_sangue li.zebrar,
#coluna04_sangue li.zebrar{
    background: #EEEEEE;
}
.link_atendimentos,
.link_exames{
    cursor: pointer;
}
#coluna01_paciente .adicionar,
#coluna02_paciente .adicionar{
    padding-left: 20px !important;
}
.adicionar a{
    border-bottom: none !important;
}
.clear{
    clear: both;
}
#coluna01_urina,
#coluna02_urina {
    width: 20%;
    float: left;
    padding-right: 10px;
}
#coluna03_urina{
    width: 45%;
    float: left;
    padding-right: 10px;
}
#coluna01_paciente,
#coluna02_paciente{
    width: 49%;
    float: left;
    padding-right: 10px;
}
#coluna03_paciente{
    width: 99%;
    float: left;
    padding-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.box{
    border: 1px solid #ccc;
}
.box h5 {
    background: none repeat scroll 0 0 #FFFFFF;
    margin-left: 8px;
    margin-top: -20px;
    padding: 10px;
    width: 160px;
}
.template-paciente table.listing td {
    border-top: 1px solid #DDDDDD;
}

.template-atendimentomedicina .column,
.template-atendimentomedicinapaciente .column{
    width: 30%;
}

.template-examesangue_edit div#subabasBioquimica div#subinformacoes-1 div.column,
.template-examesangue_edit div#subabasHematologia div#subinformacoes-2 div.column,
.template-examesangue_edit div#subabasImunologia div#subinformacoes-1 div.column,
.template-examesangue div#subabasBioquimica div#subinformacoes-1 div.column,
.template-examesangue div#subabasHematologia div#subinformacoes-2 div.column,
.template-examesangue div#subabasImunologia div#subinformacoes-1 div.column,
.template-examesanguepaciente div#subabasBioquimica div#subinformacoes-1 div.column,
.template-examesanguepaciente div#subabasHematologia div#subinformacoes-2 div.column,
.template-examesanguepaciente div#subabasImunologia div#subinformacoes-1 div.column{
    width: 32%;
}
.template-examesangue_edit div#subabasBioquimica div#subinformacoes-5 div.column,
.template-examesangue div#subabasBioquimica div#subinformacoes-5 div.column,
.template-examesanguepaciente div#subabasBioquimica div#subinformacoes-5 div.column{
    width: 50%;
}
.template-examesangue_edit div#subabasBioquimica div#subinformacoes-5 div.column fieldset,
.template-examesangue div#subabasBioquimica div#subinformacoes-5 div.column fieldset,
.template-examesanguepaciente div#subabasBioquimica div#subinformacoes-5 div.column fieldset{
    margin-right: 10%;
}
.template-examesangue_edit .linha,
.template-examesangue .linha,
.template-examesanguepaciente .linha{
    border-left: 1px solid #329FD7;
    border-right: 1px solid #329FD7;
    padding-left: 10px;
    padding-right: 10px;
}
.column{
    width: 15%;
    float: left;
}
.column ul{
    margin-left: 10px !important;
    list-style-type: none !important;
}

.column .odd{
    background: #EEEEEE;
}

.template-examesangue_edit #abas,
.template-examesangue_edit #subabasBioquimica,
.template-examesangue_edit #subabasHematologia,
.template-examesangue_edit #subabasImunologia,
.template-examesangue #abas,
.template-examesangue #subabasBioquimica,
.template-examesangue #subabasHematologia,
.template-examesangue #subabasImunologia,
.template-examesanguepaciente #abas,
.template-examesanguepaciente #subabasBioquimica,
.template-examesanguepaciente #subabasHematologia,
.template-examesanguepaciente #subabasImunologia,
.template-paciente #abas,
.template-atendimentomedicina_edit #abas,
.template-atendimentomedicina_edit #subabas,
.template-atendimentomedicinapaciente #abas,
.template-atendimentomedicinapaciente #subabas,
.template-atendimentomedicina #abas,
.template-atendimentomedicina #subabas{
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.template-paciente #abas{
    width: 96%;
    margin-left: 20px;
}
.template-paciente .ui-widget{
    font-size: inherit;
}
.template-paciente #coluna03_paciente .box{
    float: left;
    width: 99.5%;
}
.template-paciente #listaAtendimentos{
    margin-top: 0px;
    height: 150px;
    margin-bottom:5px;
    width: 95%;
    overflow-y: auto;
}
.template-examesangue_edit #content .ui-state-default a,
.template-examesangue #content .ui-state-default a,
.template-examesanguepaciente #content .ui-state-default a,
.template-paciente #content .ui-state-default a,
.template-atendimentomedicina_edit #content .ui-state-default a,
.template-atendimentomedicinapaciente #content .ui-state-default a,
.template-atendimentomedicina #content .ui-state-default a{
    color: #55555E !important;
    font-size: 12px;
}
.template-examesangue_edit .ui-tabs-nav,
.template-examesangue .ui-tabs-nav,
.template-examesanguepaciente .ui-tabs-nav,
.template-paciente .ui-tabs-nav,
.template-atendimentomedicina_edit .ui-tabs-nav,
.template-atendimentomedicinapaciente .ui-tabs-nav,
.template-atendimentomedicina .ui-tabs-nav{
    margin-left: 0 !important;
}

.template-atendimentomedicina_edit .column,
.template-atendimentomedicinapaciente .column,
.template-atendimentomedicina .column{
    font-size: 11px;
}

.template-atendimentomedicina_edit #content .ui-state-default a.abaRequired{
    background-color: #DD0000;
    color: #FFFFFF !important;
    font-weight: bold;
}
.template-examesangue #content ul,
.template-examesanguepaciente #content ul{
    list-style-type: none;
    margin-left: 1em;
}
.template-home .box{
    padding: 0 20px 10px 20px;
    margin-bottom: 20px;
    float: left;
    width: 96%;
}
.template-home .box .adicionar{
    font-size: 20px;
}
.template-home #content ul {
    list-style-type: none;
    margin-top: 10px;
}

.template-home .box h5{
    width: 172px;
}

.template-home a{
    border: none !important;
}
#searchHome{
    float: left;
}
#searchHome #LSResult {
    left: 0;
    margin-left: 2px;
    position: inherit;
}
#searchHome .searchSection{
    display: none;
}

.offBorder{
    border: none !important;
}
.labelSliccSledai{
    font-size: 20px;
}
.spanSliccSledai{
    color: #FF0000;
    font-size: 20px;
    font-weight: bold;
}
#portal-columns{
    margin-top: 20px;
}
.portletHeader{
    color: #fff;
}
#searchHome #searchGadget{
    width: 40em;
}
#coluna01_paciente,
#coluna02_paciente,
#coluna03_paciente,
#informacoes-1,
#informacoes-2,
#informacoes-3,
#informacoes-4,
#informacoes-5,
#informacoes-6,
#informacoes-7,
#informacoes-8,
#medicina {
    font-size: 10pt;
}